.cfxrebtn {
    border: solid 2px #f40552;
    background: #f5dcee7d;
    box-shadow: 0 0 5px 0 rgba(244, 5, 82, 0.75);
}
.dark .cfxrebtn {
    background: #2e1828b2;
}
.cfxrebtn:hover {
    background-color: #f40552;
}
.cfxrebtn:disabled {
    color: lightgray;
    cursor: wait;
    background-color: rgb(40, 40, 40);
    border: solid 2px rgb(89, 89, 89);
    box-shadow: 0 0 5px 0 rgba(89, 89, 89, 0.75);
}
