.App {
  height: 100%;
  display: flex;
  margin: 20px 40px;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.15s linear;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #828486; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #057C5B;
  border-radius: 20px;
}