.flag {
    margin-top: -2px;
    height: 20px;
}

.main-top-spacer {
    margin-top: 1.5em;
}

.nav-title {
    background-color: #2b3136;
}

.tab-content{
    border: 0;
}

.fix-pill-form {
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.button-spacer button, .button-spacer a {
    margin: 0.2rem;
}

option:disabled {
    background-color: #f0f3f5;
}

/* Playerlist */
.playerlist>.pping {
    font-family: Consolas, monaco, monospace;
}
.playerlist>.pname {
    font-weight: 700;
    padding-left: 5px;
}
.playerlist>a>.badge {
    padding: 0.4em 0.6em;
    margin-top: 2px;
    cursor: pointer;
}

/* Playerlist Padding Bottom Fix */
.aside-menu-fixed .aside-menu .tab-content {
    height: calc(100vh - 2.375rem);
}
.aside-menu-fixed .app-header+.app-body .aside-menu {
    height: calc(100vh);
}
.aside-menu-off-canvas .aside-menu {
    position: fixed;
    z-index: 1019;
    height: 100%;
}
.aside-menu-off-canvas .app-header+.app-body .aside-menu {
    height: calc(100vh);
}

/* Scrollable PRE */
.pre-scroll {
    overflow-y: scroll;
}
.pre-scroll::-webkit-scrollbar-track {
    background-color: white;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}
.pre-scroll::-webkit-scrollbar {
    width: 15px;
    margin-left: -10px;
    appearance: none;
}
.pre-scroll::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #cfcfcf;
    background-clip: content-box;
    border-color: transparent;
    border-style: solid;
    border-width: 1px 2px;
}

/* https://flatuicolors.com/palette/us */
mark {
    background-color: #ffeaa7;
}


/* Dashboard cards */
@media (min-width: 1200px){
    .dashboard-card{
        max-width: 460px !important;
    }
}
