* {
    box-sizing: border-box;
}
body {
    background-color: #f8f9fa;
    margin-top: 32px;
}
pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
h1 {
    font-family: 'Convergence', sans-serif;
}
.btn-outline-dark, .btn-outline-danger {
    width: 125px;
}
.logoutButton {
    width: 90px;
    height: 35px;
    margin-right: 5px;
    background-color: #dc3545;
    border-radius:4px;
    text-align: center;
    line-height: 32px;
}
.logoutButton a {
    color: #fff;
}
.logoutButton a:hover {
    text-decoration: none;
}
.card-body {
    padding: 1rem;
}